@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

:root{   
--Neutral-0: hsl(0, 0%, 100%);
--Neutral-300: hsl(252, 6%, 83%);
--Neutral-500: hsl(245, 15%, 58%);
--Neutral-700: hsl(245, 19%, 35%);
--Neutral-900: hsl(248, 70%, 10%);
--Orange-500: hsl(7, 88%, 67%);
--Orange-700: hsl(7, 71%, 60%);
--Gradient-text: linear-gradient(90deg, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
}

body{
    background-color: var(--Neutral-900);
    font-family: 'Inconsolata', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    color: var(--Neutral-0);
}

.container{
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    overflow: hidden;
}

.logo{
    width: 150px;
    outline: 1px solid;
    margin-bottom: 20px;
}

.form-item{
    margin-bottom: 20px;
}


input{
    background-color: var(--Neutral-700);
    opacity: 0.8;
    border-radius: 15px;
    border: solid var(--Neutral-0) 2px;
    padding: 10px 20px;
    outline: none;
}


.custom-input {
    border-radius: 15px;
    padding: 10px 20px;
    outline: none;
    background-color: var(--Neutral-700);
    border-style: dashed;
}

.custom-input-btn{
    background-color: var(--Neutral-700);
    outline: 0;
    border: solid var(--Neutral-0) 1px;
    border-radius: 15px;
    padding: 8px 12px;
    cursor: pointer;
    opacity: 0.8;
}

#avatar {
    display: none;
}

h1{
    font-size: 24px;
    font-weight: 800;
}

h2{
    font-size: 20px;
    font-weight: 400;
}

.submit-btn{
    padding: 10px 20px;
    background-color: var(--Orange-500);
    border: none;
    border-radius: 15px;
    color: var(--Neutral-700);
    font-family: 'Inconsolata', sans-serif;
    font-weight: 700;
}